<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3 class="margin-0">User registration</h3>
    </div>
    <div class="panel-body margin-bottom-0">
        <form role="form" class="form-horizontal well bs-component margin-bottom-0" name="regForm">
            <fieldset>
                <div class="form-group">
                    <label for="inputName" class="col-xs-3 control-label">Name*</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-10">
                                <input type="text" class="form-control" data-ng-model="regData.username" name="inputName" placeholder="Name" required data-ng-pattern="/[\w\d_\-@#$&?!]{5,100}/">
                            </div>
                            <div class="col-xs-2">
                                <img class="form-icons" src="./images/X.png" alt="X" data-ng-show="regForm.inputName.$error.required || regForm.inputName.$error.pattern">
                                <img class="form-icons" src="./images/check.png" alt="checked" data-ng-show="!regForm.inputName.$error.required && !regForm.inputName.$error.pattern">
                            </div>
                        </div>
                        <span data-ng-show="regForm.inputName.$error.required">Required! Allowed symbols: A-Z, a-z, 0-9, _-@#$&?!</span>
                        <span data-ng-show="regForm.inputName.$error.pattern">Allowed symbols (5-100): A-Z, a-z, 0-9, _-@#$&?!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-xs-3 control-label">Password*</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-10">
                                <input type="password" class="form-control" data-ng-model="regData.password" name="inputPassword" placeholder="Password" required data-ng-pattern="/[\w\d_\-@#$&?!]{5,100}/">
                            </div>
                            <div class="col-xs-2">
                                <img class="form-icons" src="./images/X.png" alt="X" data-ng-show="regForm.inputPassword.$error.required || regForm.inputPassword.$error.pattern">
                                <img class="form-icons" src="./images/check.png" alt="checked" data-ng-show="!regForm.inputPassword.$error.required && !regForm.inputPassword.$error.pattern">
                            </div>
                        </div>
                        <span data-ng-show="regForm.inputPassword.$error.required">Required! Allowed symbols: A-Z, a-z, 0-9, _-@#$&?!</span>
                        <span data-ng-show="regForm.inputPassword.$error.pattern">Allowed symbols (5-100): A-Z, a-z, 0-9, _-@#$&?!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputConfirmPassword" class="col-xs-3 control-label">Confirm password*</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-10">
                                <input type="password" class="form-control" data-ng-model="regData.confirmPassword" name="inputConfirmPassword" placeholder="Confirm password" required data-ng-pattern="/[\w\d_\-@#$&?!]{5,}/" data-match="regData.password">
                            </div>
                            <div class="col-xs-2">
                                <img class="form-icons" src="./images/X.png" alt="X" data-ng-show="regForm.inputConfirmPassword.$error.required || regForm.inputConfirmPassword.$error.pattern || regForm.inputConfirmPassword.$error.match">
                                <img class="form-icons" src="./images/check.png" alt="checked" data-ng-show="!regForm.inputConfirmPassword.$error.required && !regForm.inputConfirmPassword.$error.pattern && !regForm.inputConfirmPassword.$error.match">
                            </div>
                        </div>
                        <span data-ng-show="regForm.inputConfirmPassword.$error.required">Required! Allowed symbols: A-Z, a-z, 0-9, _-@#$&?!</span>
                        <span data-ng-show="regForm.inputConfirmPassword.$error.match">This password is not same!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFullName" class="col-xs-3 control-label">Full name*</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-10">
                                <input type="text" class="form-control" data-ng-model="regData.name" name="inputFullName" placeholder="Name" required data-ng-pattern="/[\w\d_\-@#$&?!]{3,}/">
                            </div>
                            <div class="col-xs-2">
                                <img class="form-icons" src="./images/X.png" alt="X" data-ng-show="regForm.inputFullName.$error.required || regForm.inputFullName.$error.pattern">
                                <img class="form-icons" src="./images/check.png" alt="checked" data-ng-show="!regForm.inputFullName.$error.required && !regForm.inputFullName.$error.pattern">
                            </div>
                        </div>
                        <span data-ng-show="regForm.inputFullName.$error.required">Required! Allowed symbols: A-Z, a-z, 0-9, _-@#$&?!</span>
                        <span data-ng-show="regForm.inputFullName.$error.pattern">Allowed symbols (at least 3): A-Z, a-z, 0-9, _-@#$&?!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail" class="col-xs-3 control-label">Email*</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-10">
                                <input type="email" class="form-control" data-ng-model="regData.email" name="inputEmail" placeholder="Name" required>
                            </div>
                            <div class="col-xs-2">
                                <img class="form-icons" src="./images/X.png" alt="X" data-ng-show="regForm.inputEmail.$error.required || regForm.inputEmail.$invalid">
                                <img class="form-icons" src="./images/check.png" alt="checked" data-ng-show="!regForm.inputEmail.$error.required && !regForm.inputEmail.$invalid">
                            </div>
                        </div>
                        <span data-ng-show="regForm.inputEmail.$error.required">Required!</span>
                        <span data-ng-show="regForm.inputEmail.$invalid && !regForm.inputEmail.$error.required">Please enter valid e-mail!</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPhone" class="col-xs-3 control-label">Phone*</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-10">
                                <input type="text" class="form-control" data-ng-model="regData.phone" name="inputPhone" placeholder="Name" data-ng-pattern="/[\d\-+()]{5,}/" required>
                            </div>
                            <div class="col-xs-2">
                                <img class="form-icons" src="./images/X.png" alt="X" data-ng-show="regForm.inputPhone.$error.pattern || regForm.inputPhone.$error.required">
                                <img class="form-icons" src="./images/check.png" alt="checked" data-ng-show="!regForm.inputPhone.$error.pattern && !regForm.inputPhone.$error.required">
                            </div>
                        </div>
                        <span data-ng-show="regForm.inputPhone.$error.required">Requred!</span>
                        <span data-ng-show="regForm.inputPhone.$error.pattern">Allowed symbols (at least 5): [0-9]-()+</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputTown" class="col-xs-3 control-label">Town</label>
                    <div class="col-xs-9">
                        <div class="row">
                            <div class="col-xs-10">
                                <select name="inputTown" class="form-control" data-ng-model="regData.townId">
                                    <option value="">None</option>
                                    <option value="{{town.id}}" data-ng-repeat=" town in towns">{{town.name}}</option>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <img class="form-icons" src="./images/check.png" alt="checked">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-xs-9 col-xs-offset-3 ">
                        <div class="row ">
                            <div class="col-xs-7 ">
                                <div class="pull-left ">
                                    <button type="button " class="btn btn-success " data-ng-disabled="regForm.$invalid " data-ng-click="makeRegistration() ">Register</button>
                                </div>
                            </div>
                            <div class="col-xs-3 ">
                                <div class="pull-right" style="vertical-align: middle">
                                    <a href="#/login">
                                        <button type="button" class="btn btn-info">Login</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
