<div class="panel panel-default">
    <div class="panel-heading text-center">Navigation</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="#/admin/home">Ads</a>
            </li>
            <li class="list-group-item">
                <a href="#/admin/users/list">Users</a>
            </li>
            <li class="list-group-item">
                <a href="#/admin/categories/list">Categories</a>
            </li>
            <li class="list-group-item">
                <a href="#/admin/towns/list">Towns</a>
            </li>
        </ul>
    </div>
</div>
<div ng-switch on="pageName()">
    <div ng-switch-when="/admin/home">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Ads</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="" ng-click="statusFilter.status=''">All</a>
                    </li>
                    <li class="list-group-item">
                        <a href="" ng-click="statusFilter.status=2">Published</a>
                    </li>
                    <li class="list-group-item">
                        <a href="" ng-click="statusFilter.status=1">For Approval</a>
                    </li>
                    <li class="list-group-item">
                        <a href="" ng-click="statusFilter.status=0">Inactive</a>
                    </li>
                    <li class="list-group-item">
                        <a href="" ng-click="statusFilter.status=3">Rejected</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
