<div class="form-group">
    <label for="town">Select Town:</label>
    <select class="form-control" id="town" ng-model="getAdsData.townId">
        <option value="">All</option>
        <option value="{{town.id}}" ng-repeat="town in towns">{{town.name}}</option>
    </select>
</div>
<div class="form-group">
    <label for="categoty">Select Category:</label>
    <select class="form-control" id="categoty" ng-model="getAdsData.categoryId">
        <option value="">All</option>
        <option value="{{categoty.id}}" ng-repeat="categoty in categories">{{categoty.name}}</option>
    </select>
</div>
<div class="form-group">
    <label for="order">Order by:</label>
    <select class="form-control" id="order" ng-model="getAdsData.order">
        <option value="-Title">Title &#8681</option>
        <option value="Title">Title &#8679</option>
        <option value="-Date">Data &#8681</option>
        <option value="Date">Data &#8679</option>
        <option value="-Id">Id &#8681</option>
        <option value="Id">Id &#8679</option>
        <option value="-Owner.Name">Name &#8681</option>
        <option value="Owner.Name">Name &#8679</option>
        <option value="-Owner.UserName">Username &#8681</option>
        <option value="Owner.UserName">Username &#8679</option>
    </select>
</div>
<div class="form-group">
    <label for="pageSize">Ads per page:</label>
    <select class="form-control" id="pageSize" ng-model="getAdsData.pageSize">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
</div>
