<div class="col-md-9 col-md-offset-1" ng-controller="RegCtr">
    {{regData | json}}
    <form role="form" class="form-horizontal well bs-component" name="regForm">
        <fieldset>
            <legend class="text-center">User registration</legend>
            <div class="form-group">
                <label for="inputName" class="col-md-3 control-label">Name*</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="regData.username" name="inputName" placeholder="Name" required ng-pattern="/[\w\d_\-@#$&?!]{5,}/">
                        </div>
                        <div class="col-md-2">
                            <img class="form-icons" src="./images/X.png" alt="X" ng-show="regForm.inputName.$error.required || regForm.inputName.$error.pattern">
                            <img class="form-icons" src="./images/check.png" alt="checked" ng-show="!regForm.inputName.$error.required && !regForm.inputName.$error.pattern">
                        </div>
                    </div>
                    <span ng-show="regForm.inputName.$error.required">Required! Allowed symbols: A-Z, a-z, 0-9, _-@#$&?!</span>
                    <span ng-show="regForm.inputName.$error.pattern">Allowed symbols (at least 5): A-Z, a-z, 0-9, _-@#$&?!</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-md-3 control-label">Password*</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="password" class="form-control" ng-model="regData.password" name="inputPassword" placeholder="Password" required ng-pattern="/[\w\d_\-@#$&?!]{5,}/">
                        </div>
                        <div class="col-md-2">
                            <img class="form-icons" src="./images/X.png" alt="X" ng-show="regForm.inputPassword.$error.required || regForm.inputPassword.$error.pattern">
                            <img class="form-icons" src="./images/check.png" alt="checked" ng-show="!regForm.inputPassword.$error.required && !regForm.inputPassword.$error.pattern">
                        </div>
                    </div>
                    <span ng-show="regForm.inputPassword.$error.required">Required! Allowed symbols: A-Z, a-z, 0-9, _-@#$&?!</span>
                    <span ng-show="regForm.inputPassword.$error.pattern">Allowed symbols (at least 5): A-Z, a-z, 0-9, _-@#$&?!</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputConfirmPassword" class="col-md-3 control-label">Confirm password*</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="password" class="form-control" ng-model="regData.confirmPassword" name="inputConfirmPassword" placeholder="Confirm password" required ng-pattern="/[\w\d_\-@#$&?!]{5,}/">
                        </div>
                        <div class="col-md-2">
                            <img class="form-icons" src="./images/X.png" alt="X" ng-show="regForm.inputConfirmPassword.$error.required || regForm.inputConfirmPassword.$error.pattern">
                            <img class="form-icons" src="./images/check.png" alt="checked" ng-show="!regForm.inputConfirmPassword.$error.required && !regForm.inputConfirmPassword.$error.pattern">
                        </div>
                    </div>
                    <span ng-show="regForm.inputConfirmPassword.$error.required">Required! Allowed symbols: A-Z, a-z, 0-9, _-@#$&?!</span>
                    <span ng-show="regForm.inputConfirmPassword.$error.pattern">Allowed symbols (at least 5): A-Z, a-z, 0-9, _-@#$&?!</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputFullName" class="col-md-3 control-label">Full name*</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="regData.name" name="inputFullName" placeholder="Name" required ng-pattern="/[\w\d_\-@#$&?!]{3,}/">
                        </div>
                        <div class="col-md-2">
                            <img class="form-icons" src="./images/X.png" alt="X" ng-show="regForm.inputFullName.$error.required || regForm.inputFullName.$error.pattern">
                            <img class="form-icons" src="./images/check.png" alt="checked" ng-show="!regForm.inputFullName.$error.required && !regForm.inputFullName.$error.pattern">
                        </div>
                    </div>
                    <span ng-show="regForm.inputFullName.$error.required">Required! Allowed symbols: A-Z, a-z, 0-9, _-@#$&?!</span>
                    <span ng-show="regForm.inputFullName.$error.pattern">Allowed symbols (at least 3): A-Z, a-z, 0-9, _-@#$&?!</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail" class="col-md-3 control-label">Email*</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="email" class="form-control" ng-model="regData.email" name="inputEmail" placeholder="Name" required>
                        </div>
                        <div class="col-md-2">
                            <img class="form-icons" src="./images/X.png" alt="X" ng-show="regForm.inputEmail.$error.required || regForm.inputEmail.$invalid">
                            <img class="form-icons" src="./images/check.png" alt="checked" ng-show="!regForm.inputEmail.$error.required && !regForm.inputEmail.$invalid">
                        </div>
                    </div>
                    <span ng-show="regForm.inputEmail.$error.required">Required!</span>
                    <span ng-show="regForm.inputEmail.$invalid && !regForm.inputEmail.$error.required">Please enter valid e-mail!</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhone" class="col-md-3 control-label">Phone</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" ng-model="regData.phone" name="inputPhone" placeholder="Name" ng-pattern="/[\d\-+()]{5,}/">
                        </div>
                        <div class="col-md-2">
                            <img class="form-icons" src="./images/X.png" alt="X" ng-show="regForm.inputPhone.$error.pattern">
                            <img class="form-icons" src="./images/check.png" alt="checked" ng-show="!regForm.inputPhone.$error.pattern">
                        </div>
                    </div>
                    <span ng-show="regForm.inputPhone.$error.pattern">Allowed symbols (at least 5): [0-9]-()+</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputTown" class="col-md-3 control-label">Town</label>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-10">
                            <select name="inputTown" class="form-control" ng-model="regData.townId">
                                <option value="">None</option>
                                <option value="{{town.id}}" ng-repeat=" town in towns">{{town.name}}</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <img class="form-icons" src="./images/check.png" alt="checked">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-10 col-md-offset-2 ">
                    <div class="row ">
                        <div class="col-md-6 ">
                            <div class="pull-left ">
                                <button type="button " class="btn btn-success " ng-disabled="regForm.$invalid " ng-click="makeRegistration() ">Register</button>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="pull-right ">
                                <a href="#/login">
                                    <button type="button" class="btn btn-info">Login</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
