<div class="col-md-6 col-md-offset-1 ">
    <form class="form-horizontal well bs-component" name="login-form">
        <fieldset>
            <legend class="text-center">Login</legend>
            <div class="form-group">
                <label for="input-name" class="col-md-2 control-label">Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="input-name" placeholder="Name" required="required">
                </div>
            </div>
            <div class="form-group">
                <label for="input-password" class="col-md-2 control-label">Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="input-password" placeholder="Password" required="required">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="pull-left">
                                <button type="submit" class="btn btn-success">Login</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="pull-right">
                                <button type="button" class="btn btn-info">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
