<div class="panel panel-default">
    <div class="panel-heading text-center">Navigation</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item"><a href="#/user/home">Home</a>
            </li>
            <li class="list-group-item"><a href="#/user/ads">My Ads</a>
            </li>
            <li class="list-group-item"><a href="#/user/ads/publish">Publish New Ad</a>
            </li>
            <li class="list-group-item"><a href="#/user/ads/edit/:id">Edit Profile</a>
            </li>
    </div>
</div>
