<div class="text-center" ng-include="'./partials/public/paging.html'"></div>
<div class="panel panel-default" ng-repeat="ad in ads">
    <div class="panel-heading">
        <div class="row">
            <div class="col-lg-10">
                <h3 class="panel-title">
                {{ad.title}}
                </h3>
            </div>
            <div class="col-lg-2">
                {{ad.date|date: 'dd.MMM.yyyy'}}
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="well well-sm">
                    <div class="text-center">
                        <img ng-src="{{ad.imageDataUrl || './images/no_image_available.jpg'}}" alt="adPic">
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="well">
                            {{ad.text}}
                        </div>
                    </div>
                </div>
                <div class="well well-sm">
                    <strong>Name: </strong>{{ad.ownerName}}
                </div>
                <div class="well well-sm">
                    <strong>Email: </strong>{{ad.ownerEmail}}
                </div>
                <div class="well well-sm">
                    <strong>Tel. </strong>{{ad.ownerPhone}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-center" ng-include="'./partials/public/paging.html'"></div>
