<div class="panel panel-default">
    <div class="panel-heading">
        <div class="text-center">
            <h4>User preferences</h4>
        </div>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="town">Select Town:</label>
            <select class="form-control" id="town" ng-model="getAdsData.town">
                <option value="">All</option>
                <option value="{{town.id}}" ng-repeat="town in towns">{{town.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="categoty">Select Category:</label>
            <select class="form-control" id="categoty" ng-model="getAdsData.category">
                <option value="">All</option>
                <option value="{{categoty.id}}" ng-repeat="categoty in categories">{{categoty.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="pageSize">Ads per page:</label>
            <select class="form-control" id="pageSize" ng-model="getAdsData.pageSize">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
</div>
