<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3 class="margin-0">Delete Ad</h3>
    </div>
    <div class="panel-body margin-bottom-0">
        <form class="form-horizontal well bs-component margin-bottom-0" name="editAd">
            <fieldset>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="title" class="col-xs-2 control-label">Title</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control" ng-model="ad.title" name="title" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-xs-2 control-label">Text</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <textarea class="form-control" rows="7" ng-model="ad.text" name="text" disabled="disabled"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="text-center">
                            <img ng-src="{{ad.imageDataUrl}}">
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="category" class="col-xs-2 control-label">Category</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control" ng-model="ad.categoryName" name="category" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <a href="#/user/ads" class="btn btn-default col-xs-12">Cancel</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="town" class="col-xs-2 control-label">Town</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input type="text" class="form-control" ng-model="ad.townName" name="town" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <a href="" class="btn btn-danger col-xs-12" ng-click="deleteAd()">Delete Ad</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
