@using Microsoft.AspNet.Identity
@if (this.Request.IsAuthenticated)
{
    using (this.Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @(this.Html.AntiForgeryToken())

        <ul class="nav navbar-nav navbar-right">
        <li>
            @(this.Html.ActionLink("Здравей " + this.User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" }))
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Изход</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@(this.Html.ActionLink("Регистрация", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" }))</li>
        <li>@(this.Html.ActionLink("Вход", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }))</li>
    </ul>
}
