<div ng-controller="UserAdsCtrl">
    <main>
        <div class="text-center" ng-include="'./partials/public/paging.html'"></div>
        <div class="row" ng-repeat="ad in userAds">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-9">
                        <div class="panel panel-default margin-bottom-0 min-height-222">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <h3 class="panel-title">{{ad.title}}</h3>
                                    </div>
                                    <div class="col-lg-2">
                                        {{ad.date|date: 'dd.MMM.yyyy'}}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <img ng-src="{{ad.imageDataUrl || './images/no_image_available.jpg'}}" alt="adPic">
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="well">
                                                    {{ad.text}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="well well-sm" ng-show="ad.categoryName">
                                            <strong>Categry: </strong>{{ad.categoryName}}
                                        </div>
                                        <div class="well well-sm" ng-show="ad.townName">
                                            <strong>Town: </strong>{{ad.townName}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="panel panel-default margin-bottom-0">
                            <div class="panel-heading">
                                Status: {{ad.status}}
                            </div>
                            <div class="panel-body">
                                <div class="btn-group-vertical" style="width: 100%" data-ad="{{ad}}">
                                    <a href="" class="btn btn-default" ng-show="ad.status === 'WaitingApproval' || ad.status === 'Published'" ng-click="makeInactive(this, $event)">Deactivate</a>
                                    <a href="" class="btn btn-default" ng-hide="ad.status === 'WaitingApproval' || ad.status === 'Published'" ng-click="publishAgain(element, $event)">Publish again</a>
                                    <a href="#/user/ads/edit/{{ad.id}}" class="btn btn-default" ng-hide="ad.status === 'WaitingApproval' || ad.status === 'Published'">Edit</a>
                                    <a href="#/user/ads/delete/{{ad.id}}" class="btn btn-default" ng-hide="ad.status === 'WaitingApproval' || ad.status === 'Published'">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" ng-include="'./partials/public/paging.html'"></div>
    </main>
</div>
