<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3 class="margin-0">Publish New Ad</h3>
    </div>
    <div class="panel-body margin-bottom-0">
        <form class="form-horizontal well bs-component margin-bottom-0" name="publishAd">
            <fieldset>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="title" class="col-xs-2 control-label">Title*</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" ng-model="adData.title" name="title" placeholder="Title" data-ng-pattern="/^[\w\d_\-@#$€&?!\.,\s:]{2,}$/" required>
                                    </div>
                                    <div class="col-xs-2">
                                        <img class="form-icons" src="./images/X.png" alt="X" ng-show="publishAd.title.$error.required || publishAd.title.$error.pattern">
                                        <img class="form-icons" src="./images/check.png" alt="checked" ng-show="!publishAd.title.$error.required && !publishAd.title.$error.pattern">
                                    </div>
                                </div>
                                <span ng-show="publishAd.title.$error.required">Required!</span>
                                <span ng-show="publishAd.title.$error.pattern">Allowed symbols (at least 2): A-Z, a-z, 0-9, _-@#$&?!:.,!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-xs-2 control-label">Text*</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <textarea class="form-control" rows="7" ng-model="adData.text" name="text" placeholder="Ad's text" data-ng-pattern="/^[\w\d_\-@#$€&?!\.,\s:]{2,}$/" required></textarea>
                                    </div>
                                    <div class="col-xs-2">
                                        <img class="form-icons" src="./images/X.png" alt="X" ng-show="publishAd.text.$error.required || publishAd.text.$error.pattern">
                                        <img class="form-icons" src="./images/check.png" alt="checked" ng-show="!publishAd.text.$error.required && !publishAd.text.$error.pattern">
                                    </div>
                                </div>
                                <span ng-show="publishAd.text.$error.required">Required!</span>
                                <span ng-show="publishAd.text.$error.pattern">Allowed symbols (at least 2): A-Z, a-z, 0-9, _-@#$&?!:.,!</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="text-center" id="ad-image"></div>
                    </div>
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="imageDataUrl" class="col-xs-2 control-label">Image</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span class="btn btn-default btn-file col-xs-12">
                            Browse <input type="file" onchange="angular.element(this).scope().fileSelected(this)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4" id="imageName">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="category" class="col-xs-2 control-label">Category</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <select class="form-control" name="category" ng-model="adData.categoryId">
                                            <option value="null">None</option>
                                            <option value="{{category.id}} " ng-repeat="category in categories">{{category.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <a href="#/user/home" class="btn btn-info col-xs-12">Cancel</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="town" class="col-xs-2 control-label">Town</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <select class="form-control" name="town" ng-model="adData.townId">
                                            <option value="null">None</option>
                                            <option value="{{town.id}} " ng-repeat="town in towns">{{town.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <a href="" class="btn btn-danger col-xs-12" ng-disabled="publishAd.$invalid" ng-click="publishingAd()">Publish</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
