<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3 class="margin-0">Edit Ad</h3>
    </div>
    <div class="panel-body margin-bottom-0">
        <form class="form-horizontal well bs-component margin-bottom-0" name="editAd">
            <fieldset>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="title" class="col-xs-2 control-label">Title*</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" data-ng-model="ad.title" name="title" data-ng-pattern="/^[\w\d_\-@#$€&?!\.,\s:]{2,}$/" required>
                                    </div>
                                    <div class="col-xs-2">
                                        <img class="form-icons" src="./images/X.png" alt="X" data-ng-show="editAd.title.$error.required || editAd.title.$error.pattern">
                                        <img class="form-icons" src="./images/check.png" alt="checked" data-ng-show="!editAd.title.$error.required && !editAd.title.$error.pattern">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2">
                                <span data-ng-show="editAd.title.$error.required">Required!</span>
                                <span data-ng-show="editAd.title.$error.pattern">Allowed symbols (at least 2): A-Z, a-z, 0-9, _-@#€$&?!!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-xs-2 control-label">Text*</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <textarea class="form-control" rows="7" data-ng-model="ad.text" name="text" data-ng-pattern="/^[\w\d_\-@#$€&?!\.,\s:]{2,}$/" required></textarea>
                                    </div>
                                    <div class="col-xs-2">
                                        <img class="form-icons" src="./images/X.png" alt="X" data-ng-show="editAd.text.$error.required || editAd.text.$error.pattern">
                                        <img class="form-icons" src="./images/check.png" alt="checked" data-ng-show="!editAd.text.$error.required && !editAd.text.$error.pattern">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2">
                                <span data-ng-show="editAd.text.$error.required">Required!</span>
                                <span data-ng-show="editAd.text.$error.pattern">Allowed symbols (at least 2): A-Z, a-z, 0-9, _-@#€$&?!!</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="text-center" id="ad-image">
                            <img data-ng-src="{{ad.imageDataUrl}}">
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="username" class="col-xs-2 control-label">Username</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input type="text" name="username" class="form-control" data-ng-model="ad.ownerUsername" data-ng-pattern="/^[\w\d_\-@#$&?!]{5,100}$/">
                                    </div>
                                    <div class="col-xs-2">
                                        <img class="form-icons" src="./images/X.png" alt="X" data-ng-show=" editAd.username.$error.pattern">
                                        <img class="form-icons" src="./images/check.png" alt="checked" data-ng-show="!editAd.username.$error.pattern">
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-10 col-xs-offset-2">
                                <span data-ng-show="editAd.username.$error.pattern">Allowed symbols (at least 2): A-Z, a-z, 0-9, _-@#€$&?!!</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4" id="imageName"></div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="category" class="col-xs-2 control-label">Category</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <select class="form-control" name="category" data-ng-model="ad.categoryId">
                                            <option value="null">None</option>
                                            <option value="{{category.id}} " data-ng-repeat="category in categories" data-ng-selected="ad.categoryId===category.id">{{category.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <img class="form-icons" src="./images/check.png" alt="checked">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <span class="btn btn-default btn-file col-xs-12">
                            Change Image <input type="file" onchange="angular.element(this).scope().fileSelected(this)"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="town" class="col-xs-2 control-label">Town</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <select class="form-control" name="town" data-ng-model="ad.townId">
                                            <option value="null">None</option>
                                            <option value="{{town.id}}" data-ng-repeat="town in towns" data-ng-selected="ad.townId===town.id">{{town.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <img class="form-icons" src="./images/check.png" alt="checked">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <a href="" class="btn btn-default col-xs-12" data-ng-click="deleteImage()">Delete Image</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="status" class="col-xs-2 control-label">Status*</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <select class="form-control" name="status" data-ng-model="ad.status" required>
                                            <option data-ng-value="parseInt(2)">Published</option>
                                            <option data-ng-value="parseInt(1)">WaitingApproval</option>
                                            <option data-ng-value="parseInt(0)">Inactive</option>
                                            <option data-ng-value="parseInt(3)">Rejected</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <img class="form-icons" src="./images/X.png" alt="X" data-ng-show="editAd.town.$error.required">
                                        <img class="form-icons" src="./images/check.png" alt="checked" data-ng-show="!editAd.town.$error.required">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <a href="#/admin/home" class="btn btn-default col-xs-12">Cancel</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="date" class="col-xs-2 control-label">Date*</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <p class="input-group">
                                            <input type="text" class="form-control" datepicker-popup="{{format}}" show-button-bar="false" data-ng-model="ad.date" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" data-ng-required="true" disabled required/>
                                            <span class="input-group-btn"><button type="button" class="btn btn-info" data-ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                        </p>
                                    </div>
                                    <div class="col-xs-2">
                                        <img class="form-icons" src="./images/check.png" alt="checked">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <a href="" class="btn btn-danger col-xs-12" data-ng-disabled="editAd.$invalid" data-ng-click="editCurrentAd()">Edit</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
