<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3 class="margin-0">Edit Ad</h3>
    </div>
    <div class="panel-body margin-bottom-0">
        <form class="form-horizontal well bs-component margin-bottom-0" name="editAd">
            <fieldset>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="title" class="col-xs-2 control-label">Title*</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" ng-model="ad.title" name="title" required>
                                    </div>
                                    <div class="col-xs-2">
                                        <img class="form-icons" src="./images/X.png" alt="X" ng-show="editAd.title.$error.required">
                                        <img class="form-icons" src="./images/check.png" alt="checked" ng-show="!editAd.title.$error.required">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-xs-2 control-label">Text*</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <textarea class="form-control" rows="7" ng-model="ad.text" name="text" required></textarea>
                                    </div>
                                    <div class="col-xs-2">
                                        <img class="form-icons" src="./images/X.png" alt="X" ng-show="editAd.text.$error.required">
                                        <img class="form-icons" src="./images/check.png" alt="checked" ng-show="!editAd.text.$error.required">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="text-center" id="ad-image">
                            <img ng-src="{{ad.imageDataUrl}}">
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="username" class="col-xs-2 control-label">Username</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input type="text" name="username" class="form-control" ng-model="ad.ownerUsername">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4" id="imageName"></div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="category" class="col-xs-2 control-label">Category</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <select class="form-control" name="category" ng-model="ad.categoryId">
                                            <option value="null">None</option>
                                            <option value="{{category.id}} " ng-repeat="category in categories">{{category.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <span class="btn btn-default btn-file col-xs-12">
    						Change Image <input type="file" onchange="angular.element(this).scope().fileSelected(this)"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="town" class="col-xs-2 control-label">Town</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <select class="form-control" name="town" ng-model="ad.townId">
                                            <option value="null">None</option>
                                            <option value="{{town.id}}" ng-repeat="town in towns">{{town.name}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <a href="" class="btn btn-default col-xs-12" ng-click="deleteImage()">Delete Image</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="status" class="col-xs-2 control-label">Status*</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <select class="form-control" name="status" ng-model="ad.status" required>
                                            <option ng-value="parseInt(2)">Published</option>
                                            <option ng-value="parseInt(1)">WaitingApproval</option>
                                            <option ng-value="parseInt(0)">Inactive</option>
                                            <option ng-value="parseInt(3)">Rejected</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <img class="form-icons" src="./images/X.png" alt="X" ng-show="editAd.town.$error.required">
                                        <img class="form-icons" src="./images/check.png" alt="checked" ng-show="!editAd.town.$error.required">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <a href="#/admin/home" class="btn btn-default col-xs-12">Cancel</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-8">
                        <div class="form-group">
                            <label for="date" class="col-xs-2 control-label">Date*</label>
                            <div class="col-xs-10">
                                <div class="row">
                                    <div class="col-xs-10">
                                        <p class="input-group">
                                            <input type="text" class="form-control" datepicker-popup="{{format}}" show-button-bar="false" ng-model="ad.date" is-open="opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" disabled required/>
                                            <span class="input-group-btn"><button type="button" class="btn btn-info" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button></span>
                                        </p>
                                    </div>
                                    <div class="col-xs-2">
                                        <img class="form-icons" src="./images/X.png" alt="X" ng-show="editAd.town.$error.required">
                                        <img class="form-icons" src="./images/check.png" alt="checked" ng-show="!editAd.town.$error.required">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <a href="" class="btn btn-danger col-xs-12" ng-disabled="editAd.$invalid" ng-click="editCurrentAd()">Edit</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
