<div class="col-lg-6 col-lg-offset-1">
    <div class="panel panel-default">
        <div class="panel-heading text-center">
            <h3 class="margin-0">Create Category</h3>
        </div>
        <div class="panel-body margin-bottom-0">
            <form class="form-horizontal well bs-component margin-bottom-0" name="createCategoryForm">
                <fieldset>
                    <div class="form-group">
                        <label for="name" class="col-xs-2 control-label">Name</label>
                        <div class="col-xs-10">
                            <div class="row">
                                <div class="col-xs-10">
                                    <input type="text" class="form-control" data-ng-model="category.name" name="name" data-ng-pattern="/^[\w\d_\-@#$&?!]{2,}$/" required>
                                </div>
                                <div class="col-xs-2">
                                    <img class="form-icons" src="./images/X.png" alt="X" data-ng-show="createCategoryForm.name.$error.required || createCategoryForm.name.$error.pattern">
                                    <img class="form-icons" src="./images/check.png" alt="checked" data-ng-show="!createCategoryForm.name.$error.required && !createCategoryForm.name.$error.pattern">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 col-xs-offset-2">
                            <span data-ng-show="createCategoryForm.name.$error.required">Required!</span>
                            <span data-ng-show="createCategoryForm.name.$error.pattern">Allowed symbols (at least 2): A-Z, a-z, 0-9, _-@#$&?!!</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4 col-xs-offset-2">
                            <a href="" class="btn btn-danger col-xs-12" data-ng-click="createCategory()" data-ng-disabled="createCategoryForm.$invalid">Create</a>
                        </div>
                        <div class="col-xs-4 col-xs-offset-2">
                            <a href="#/admin/categories/list" class="btn btn-default col-xs-12">Cancel</a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
