<main class="col-lg-12" ng-controller="AdminDeleteUserCtrl">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h3 class="margin-0">Edit User Profile</h3>
            </div>
            <div class="panel-body margin-bottom-0">
                <form class="well bs-component margin-bottom-0" name="deleteUser" role="form">
                    <fieldset>
                        <div class="form-group">
                            <div class="row">
                                <label for="username" class="col-xs-2 control-label">Username</label>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" ng-model="user.username" name="username" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="name" class="col-xs-2 control-label">Name</label>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" ng-model="user.name" name="name" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="email" class="col-xs-2 control-label">Email</label>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <input type="email" class="form-control" ng-model="user.email" name="email" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label for="phone" class="col-xs-2 control-label">Phone</label>
                            </div>
                            <div class="row" ng-show="user.phoneNumber">
                                <div class="col-xs-12">
                                    <input type="text" class="form-control" ng-model="user.phoneNumber" name="phone" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-show="user.townName">
                            <label for="town" class="col-xs-2 control-label">Town</label>
                            <input type="text" class="form-control" ng-model="user.townName" name="town" disabled>
                        </div>
                        <div class="form-group">
                            <span>Deleting the user will also delete all ads, created by this user!</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 col-xs-offset-1">
                                <a href="" class="btn btn-danger col-xs-12" ng-click="deleteCurrentUser()">Delete</a>
                            </div>
                            <div class="col-xs-4 col-xs-offset-2">
                                <a href="#/admin/users/list" class="btn btn-default col-xs-12">Cancel</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</main>
